body {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.Dialog-overlay {
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
}

.Dialog {
  margin: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}
